apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mini-xdr-data-pvc
  namespace: mini-xdr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mini-xdr-models-pvc
  namespace: mini-xdr
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
